In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
dataset = pd.read_csv("preprocessed_titanic_data.csv")
dataset.head()

,Survived,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,...,Sex_0,Sex_1,Age_0,Age_1,Age_2,Age_3,Age_4,Age_5,Age_6,Age_7
0,0,1,0,7.2500,False,False,True,False,False,False,...,True,False,False,False,True,False,False,False,False,False
1,1,1,0,71.2833,True,False,False,False,True,False,...,False,True,False,False,False,True,False,False,False,False
2,1,0,0,7.9250,False,False,True,False,False,False,...,False,True,False,False,True,False,False,False,False,False
3,1,1,0,53.1000,False,False,True,False,True,False,...,False,True,False,False,False,True,False,False,False,False
4,0,0,0,8.0500,False,False,True,False,False,False,...,True,False,False,False,False,True,False,False,False,False

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   SibSp       891 non-null    int64
 2   Parch       891 non-null    int64
 3   Fare        891 non-null    float64
 4   Embarked_C  891 non-null    bool
 5   Embarked_Q  891 non-null    bool
 6   Embarked_S  891 non-null    bool
 7   Embarked_U  891 non-null    bool
 8   Pclass_1    891 non-null    bool
 9   Pclass_2    891 non-null    bool
 10  Pclass_3    891 non-null    bool
 11  Sex_0       891 non-null    bool
 12  Sex_1       891 non-null    bool
 13  Age_0       891 non-null    bool
 14  Age_1       891 non-null    bool
 15  Age_2       891 non-null    bool
 16  Age_3       891 non-null    bool
 17  Age_4       891 non-null    bool
 18  Age_5       891 non-null    bool
 19  Age_6       891 non-null    bool
 20  Age_7       891 non-null    bool
dtypes: bool(17), float64(1), int64(3)
memory usage: 42.8 KB

In [5]:
dataset.isnull().sum()

Survived      0
SibSp         0
Parch         0
Fare          0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
Embarked_U    0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_0         0
Sex_1         0
Age_0         0
Age_1         0
Age_2         0
Age_3         0
Age_4         0
Age_5         0
Age_6         0
Age_7         0
dtype: int64

In [6]:
dataset.describe()

         Survived       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000
mean     0.383838    0.523008    0.381594   32.204208
std      0.486592    1.102743    0.806057   49.693429
min      0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    7.910400
50%      0.000000    0.000000    0.000000   14.454200
75%      1.000000    1.000000    0.000000   31.000000
max      1.000000    8.000000    6.000000  512.329200

In [8]:
from sklearn.model_selection import train_test_split

features = dataset.drop(['Survived'],axis =1)
labels = dataset['Survived']

features_train,features_test,labels_train,labels_test = train_test_split(features,labels,test_size=0.3,random_state=42)
print(features_train.shape)
print(features_test.shape)
print(labels_train.shape)
print(labels_train.shape)

(623, 20)
(268, 20)
(623,)
(623,)

In [12]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression().fit(features_train,labels_train)

C:\Users\DELL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
pred = model.predict(features_test)

In [19]:
from sklearn.metrics import f1_score,roc_auc_score,accuracy_score

In [26]:
print('LogisticRegression train Score          :', model.score(features_train,labels_train))
#print('LogisticRegression test Score          :', model.score(features_test,labels_test))
print('LogisticRegression accuracy_Score :', accuracy_score(labels_test,pred))
print('LogisticRegression roc_auc_score  :', roc_auc_score(labels_test,pred))
print('LogisticRegression f1_score       :', f1_score(labels_test,pred))

LogisticRegression train Score          : 0.8170144462279294
LogisticRegression accuracy_Score : 0.7947761194029851
LogisticRegression roc_auc_score  : 0.7839272393412522
LogisticRegression f1_score       : 0.7441860465116279

In [24]:
from sklearn.svm import SVC
# Create a linear SVM model SVC (" Support vector classifier")
svm_linear = SVC(kernel = 'linear') # Kernel is used if the data is linear or not linear 2d or more
svm_linear.fit(features,labels)

print("Accuracy:", svm_linear.score(features, labels))

Accuracy: 0.797752808988764

In [11]:
svm_c_001 = SVC(kernel = 'linear',C = 0.01)
svm_c_001.fit(features,labels)
print("C = 0.01")
print("Accuracy:", svm_c_001.score(features, labels))


# use linear SVM with C = 100
svm_c_100 = SVC(kernel = 'linear',C = 100)
svm_c_100.fit(features,labels)
print("C = 100")
print("Accuracy:", svm_c_100.score(features, labels))

C = 0.01
Accuracy: 0.7890011223344556
C = 100
Accuracy: 0.7968574635241302

In [27]:
svm_model = SVC().fit(features_train,labels_train)

In [28]:
pred_svm = svm_model.predict(features_test)

In [29]:
print('SVM train Score    :', svm_model.score(features_train,labels_train))
print('SVM accuracy_Score :', accuracy_score(labels_test,pred_svm))
print('SVM roc_auc_score  :', roc_auc_score(labels_test,pred_svm))
print('SVM f1_score       :', f1_score(labels_test,pred_svm))

SVM train Score    : 0.6741573033707865
SVM accuracy_Score : 0.6604477611940298
SVM roc_auc_score  : 0.601968210248465
SVM f1_score       : 0.38926174496644295